<!DOCTYPE html>
<html>
  <head>
    <title>
        <% if content_for?(:title)%>
           <%= yield :title %>
        <% else %>
           bienvenido mi webapp
        <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section>
     <nav>
      <%= link_to 'Inicio', photos_path %>
      <% if user_signed_in? %>
          <%= link_to "Mis fotos",my_photos_path %>
          <%= link_to 'Crear foto',new_photo_path %>  
          <%= link_to "Salir", destroy_user_session_path,method: :delete %>
      <% else %>
          <%= link_to "Entrar",new_user_session_path%>
      <% end %>
    </nav>
  </section>


    <section>   
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
       <%= yield %>
    </section>

    <section>
        <small>Imagenes inc &copy;todos los derechos reservados</small>
    </section>
  </body>
</html>
